// Define variables for your color scheme

// For example:
$red: #E63B2E;
$blue: #7FBEEB;
$yellow: #E6C229;
$orange: #FF7733;
$green: #B2EDC5;
$gray: #000000;
$light-gray: #E1E6E1;
$very-light-gray:#f7f7f7;
